@namespace MoonIntelligentAssistant.Web.MasterPages
@inherits LayoutComponentBase

<PageTitle>☾ Intelligent Assistant</PageTitle>

<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <NavigationMenu/>

        <div class="layout-page">
            @Body
        </div>
    </div>

    <div class="layout-overlay layout-menu-toggle"></div>
</div>